.tableContainer {
  margin: 15px 0
}

.tableContainer table {
  border-collapse: collapse;
  margin: 20px;
}

.tableContainer th, .tableContainer td {
  padding: 13px;
  text-align: left;
  border-bottom: 1px solid #DDD;
}

.tableContainer button {
  min-height: 15px;
}

.editButton {
  color: azure;
  border: 1px solid  #6f73ca;
  border-radius: 5px;
  background-color:  #6f73ca;
  cursor: pointer;
}

.deleteButton {
  color: azure;
  border: 1px solid #f14c4c;
  border-radius: 5px;
  background-color: #c91e1e;
  cursor: pointer;
}
